

<%- include('partials/header') %>
<div class="data-centered-div ">
    <div class="data-card">
        <div class="user-header">
            <img src="images/profile.jpg" alt="" />
            <h2>Olushola Oludipe</h2>
        
        </div>
        <!-- user info -->
         <!-- username? -->
         <h3 class="user-info">username: Shotown3</h3>
         <!-- social media -->
         <div class="icon-container">
            <a>
                <i class="fab fa-instagram"></i>
            </a>

            <a>
                <i class="fab fa-twitter"></i>
            </a>

            <a>
                <i class="fab fa-github"></i>
            </a>

         </div>

          <!-- project contributing too -->
           <!-- card with  -->
    </div>
</div>



        <%- include('partials/footer') %>
    </div>
</div>
