body {
    background-color: #deb887;
}

.centered {
    padding-top: 100px;
    text-align: center;
}

.projects-text {
    text-align: center;
    font-size: 2rem;
    color: #fff;
    background-color: #000;
}

p {
    background-color: #f6c274fe;
    font-weight: bold;
}

#logo {
    height: 100px;
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
table {
    margin-left: auto;
    margin-right: auto;
}

tbody {
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid #ddd;
}

.card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-bottom: 20px;
    width: fit-content; /* Adjust width as needed */
}

.card h3 {
    margin-top: 0;
    margin-bottom: 5px;
}

.card p {
    margin-bottom: 5px;
}

.nav-link {
    color: black;
    font-size: 20px;
    border-style: solid;
    border-color: black;
}

/* data page css */
.data-centered-div {
    margin-top: 4rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.data-card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-bottom: 20px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* style for the user header */
.user-header-bg {
    width: 100%;
    background: rgb(247, 200, 17);
    background: linear-gradient(
        328deg,
        rgba(247, 200, 17, 0.9766500350140056) 0%,
        rgba(208, 114, 15, 1) 100%
    );
}

.user-header {
    width: 100%;
    background: rgb(247, 200, 17);
    background: linear-gradient(
        328deg,
        rgba(247, 200, 17, 0.9766500350140056) 0%,
        rgba(208, 114, 15, 1) 100%
    );
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-header img {
    position: relative;
    width: 110px;
    height: 110px;
    border-radius: 50%;
}

.user-header h2 {
    color: whitesmoke;
}
/* data-page icon styles */
.icon-container {
    display: flex;
    padding: 1rem 0;

    flex-direction: column;
}
